@import "../../App.scss";

.recents-events-head .title {
  @include title();
  @include font-style(Fellix, 800, 48px, 58px);
}

.recents-events-main {
  width: 72%;
  margin: auto;
  padding: 128px 0px;
}

.recents-events-head {
  @include flex(space-between, center);
  padding-bottom: 46px;
}

.recents-events-head-option {
  display: flex;
  gap: 10px;
}

.recents-events-cards-main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
}

.recents-events-card {
  background-color: $whiteColor;
  width: 32.1%;
  height: 600px;
  margin-bottom: 24px;

  img:first-child {
    object-fit: cover;
  }
}

.recents-events-card-img {
  width: 100%;
  height: 245px;
}

.recents-events-card:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.recents-event-card-detail {
  padding: 20px 16px 36px 16px;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;

  .month {
    @include font-style(Fellix, 500, 24px, 28px);
    color: #4c6fff;
  }

  .day {
    @include font-style(Fellix, 700, 24px, 28px);
    color: #000000;
    padding-top: 8px;
  }

  .day-line {
    background: #A1A9BF;
    width: 3px;
    margin: 15px 10px 15px;
    height: 50px;
    display: block;
  }

  .time {
    @include font-style(Helvetica, 400, 18px, 20px);
    color: #000000;
    padding-top: 16px;
  }

  .event-heading {
    @include font-style(Fellix, 700, 24px, 32px);
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .event-desc {
    @include font-style(Helvetica, 400, 16px, 28px);
    @include para-color;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.recents-event-card-detail div {
  display: flex;
  flex-direction: column;
  // gap: 12px;
}

.recents-events-tags {
  @include flex(start, center);
  gap: 24px;

  .tag {
    @include font-style(Helvetica, 500, 16px, 16px);
    @include tag-color();
    background-color: $whiteColor;
    @include flex(center, center);
    gap: 12px;
    padding: 19px 24px;
    border-radius: 9999px;

    .recents-events-tags-svg {
      fill: #0000005c;
    }

    .recents-events-tags-svg:hover {
      cursor: pointer;
      fill: rgb(28, 27, 27);
    }
  }
}

.date-pick {
  padding: 7px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.recents-event-speakers {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-top: 8px;
}

.recents-event-speakers .speaker-dp {
  border-radius: 50px;
}

.recents-event-speakers .speakers-overlay-main:not(:first-child) {
  margin-left: -14px;
}

// .recents-event-speakers img:hover {
//   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
// }

//Laptops Responsive

@media (min-width: 1024px) and (max-width: 1768px) {
  .recents-events-main {
    width: 82%;
  }

  .recents-events-card {
    width: 31.75%;
    height: 520px;
  }

  .recents-events-card-img {
    width: 100%;
    height: 200px;
  }

  .recents-event-card-detail {
    padding: 20px 16px 36px 16px;
    gap: 12px;

    .month {
      @include font-style(Fellix, 500, 20px, 28px);
    }

    .day {
      @include font-style(Fellix, 700, 20px, 28px);
    }

    .day-line {
      background: #A1A9BF;
      width: 3px;
      margin: 15px 10px 15px;
      height: 50px;
      display: block;
    }

    .time {
      @include font-style(Helvetica, 400, 16px, 20px);
    }

    .event-heading {
      @include font-style(Fellix, 700, 20px, 28px);
    }

    .event-desc {
      @include font-style(Helvetica, 400, 14px, 28px);
    }
  }
}

.recent-event-load-more {
  text-align: center;
  align-items: center;
  margin-top: 48px;
}

.recent-event-load-more button {
  cursor: pointer;
  border: none;
  background: $button-gradient;
  display: block;
  width: max-content;
  height: auto;
  color: $whiteColor;
  margin: 0 auto;
  border-radius: 9999px;
  padding: 12px 36px;
  transition: all 0.4s ease-in-out;
  @include font-style(Helvetica, 500, 14px, 28px);
}

.recent-event-load-more button:hover {
  transform: scale(1.05);
}


//Tablets Responsive

@media (min-width: 768px) and (max-width: 1023px) {

  .recents-events-head {
    .title {
      @include font-style(Fellix, 800, 44px, 58px);
    }
  }

  .recents-events-main {
    width: 85%;
  }

  .recents-events-cards-main {
    gap: 2%;
  }

  .recents-events-card {
    width: 49%;
    height: 520px;
  }

  .recents-events-card-img {
    height: 190px;
  }
}

//Mobile Responsive

@media (max-width: 767px) {

  .recents-events-cards-main {
    margin: 24px auto;
  }

  .recents-events-card {
    width: 100%;
    height: 520px;
  }

  .recent-event-load-more {
    margin-top: 24px;
  }

  .recent-event-load-more p {
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
  }

  .recents-events-head {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;

    .title {
      @include font-style(Fellix, 800, 40px, 58px);
    }
  }

  .recents-events-main {
    width: 90%;
    margin: auto;
  }

  .recents-events-card-img {
    height: 190px;
  }


  .recents-events-head-option {
    width: 100%;
    justify-content: center;
  }

  .css-b62m3t-container {
    width: 100%
  }

  .recents-events-tags {
    @include flex(start, center);
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 16px;

    .tag {
      @include font-style(Helvetica, 500, 14px, 16px);
      padding: 12px 20px;

      span {
        width: max-content;
      }
    }
  }

  .recents-events-tags::-webkit-scrollbar {
    display: none;
  }

}