@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import "../src/fonts/fellix/stylesheet.scss";
@import "../src/fonts/helvetica/stylesheet.scss";
@import "./Colors.scss";


.delete-popover{
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper{
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1) !important;
  }
}
* {
  font-family: Helvetica !important;
  padding: 0;
  margin: 0;
}

body {
  overflow: overlay;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  width: 5px;
  background: #9598a4;
  border-radius: 99px;
}

.participants-cards-main::-webkit-scrollbar-thumb,.question-cards-main::-webkit-scrollbar-thumb,
.event-agenda-cards-main::-webkit-scrollbar-thumb, .live-polls-container::-webkit-scrollbar-thumb,
.event-detail-inside::-webkit-scrollbar-thumb {
  background: rgb(213, 215, 221);
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background-color: transparent;
   /* or add it to the track */
}
// colors
@mixin banner-h-color {
  color: $whiteColor;
}
@mixin main-h-color {
  color: #282828;
}
@mixin para-color {
  color: #6B6F7A;
}
@mixin tag-color {
  color: #000000;
}
@mixin flex($propert1, $property2) {
  display: flex;
  justify-content: $propert1;
  align-items: $property2;
}

@mixin font-style($font, $weight, $size, $lineHeight) {
  font-family: $font !important;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
}
@mixin title {
  /* gradient */
  background: linear-gradient(
    90.98deg,
    #ff68c3 0%,
    #ff7474 29.69%,
    #5771f9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin bg-gradient {
  /* gradient */
  background: linear-gradient(
    90.98deg,
    #ff68c3 0%,
    #ff7474 29.69%,
    #5771f9 100%
  );
}
body {
  background-color: #f8f8f8;
}

/* Container */

@mixin container {
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
    margin: 0 auto;
  }
  /* md*/
  @media (min-width: 768px) {
    max-width: 768px;
  }
  /* lg*/
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  /* xl*/
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  /* xl*/
  @media (min-width: 1530px) {
    max-width: 1530px;
  }
}

.css-i4bv87-MuiSvgIcon-root{
  cursor: pointer;
}
.css-1yt7yx7-MuiLoadingButton-loadingIndicator{
  color: $whiteColor !important;
}

